@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold-webfont.woff) format(woff), url(../fonts/OpenSans-Bold-webfont.ttf) format(truetype), url(../fonts/OpenSans-Bold-webfont.woff2) format(woff2);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular-webfont.woff) format(woff), url(../fonts/OpenSans-Regular-webfont.ttf) format(truetype), url(../fonts/OpenSans-Regular-webfont.woff2) format(woff2);
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px; }

@media (min-width: 770px) {
  .container {
    width: 770px; } }

.header__block {
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 20px 30px 20px 30px; }

.header--menu {
  padding: 20px 30px 300px 30px; }

.header__logo {
  background: url(../img/logo.png) no-repeat center center;
  display: block;
  color: transparent;
  font-size: 1px;
  height: 35px;
  right: 75px;
  position: relative;
  width: 85px; }
  .header__logo:hover, .header__logo:focus {
    opacity: .6;
    outline-color: transparent; }
  .header__logo:active {
    opacity: .3; }

.btn--burger {
  background: #fff url(../img/menu.png) no-repeat center center;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 15px;
  width: 20px; }
  .btn--burger:hover, .btn--burger:focus {
    opacity: .6;
    outline-color: transparent; }
  .btn--burger:active {
    opacity: .3; }

.btn--close {
  background: #fff url(../img/menu-close.png) no-repeat center center;
  height: 22px;
  width: 22px; }

@media (min-width: 770px) {
  .header__block {
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding: 20px 50px 20px 50px; }
  .header__logo {
    background: url(../img/logo-tablet.png) no-repeat center center;
    height: 50px;
    position: static;
    width: 120px; }
  .btn--burger {
    display: none; } }

.info__block {
  background: url(../img/hero-mobile.jpg) no-repeat;
  padding-top: 70px; }

.info__title {
  font-size: 27px;
  font-weight: bold;
  text-align: center; }

.info__options {
  list-style: none;
  padding: 105px 0 0 0; }

.info__item {
  background: #63d1bb url(../img/interior.png) no-repeat 245px center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  padding: 25px 180px 25px 30px;
  text-decoration: none; }
  .info__item:hover, .info__item:focus {
    background-color: #59d5bc;
    padding: 25px 180px 30px 30px;
    outline-color: transparent; }
  .info__item:active {
    background: #59d5bc url(../img/interior.-active.png) no-repeat 245px center;
    color: rgba(255, 255, 255, 0.3); }

.item--2type {
  background: #56c3b2 url(../img/toy.png) no-repeat 230px center; }
  .item--2type:hover, .item--2type:focus {
    background-color: #46c1ae;
    outline-color: transparent; }
  .item--2type:active {
    background: #46c1ae url(../img/toy-active.png) no-repeat 230px center;
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 770px) {
  .info__block {
    background: url(../img/hero-desktop.jpg) no-repeat; } }

.tovat__block {
  padding: 0 30px 35px 30px; }

.tovat__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 5px;
  margin-bottom: 0; }

.tovat__type {
  color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase; }

.tovat__text {
  color: #444444;
  line-height: 24px;
  padding-bottom: 10px; }

.tovat__info {
  color: #444444;
  padding-bottom: 30px;
  width: 100%; }

.tovat__info td {
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-top: 5px; }

.tovat__price {
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 24px;
  padding: 25px 0 25px 0; }

.btn {
  -ms-flex-align: center;
      align-items: center;
  background: inherit;
  border: 2px solid #444444;
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 24px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  width: 256px; }
  .btn:hover, .btn:focus {
    background: #444444;
    color: #fff;
    outline-color: transparent; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

.about__block {
  background: url(../img/zigzag-line.jpg) no-repeat;
  padding: 20px 30px 20px 30px; }

.about__title {
  font-size: 25px; }

.about__features {
  list-style: none;
  margin-top: -15px;
  padding-left: 0; }

.about__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 25px; }

.item__text {
  padding-top: 20px;
  width: 230px; }

.text--1 {
  width: 190px; }

.text--2 {
  width: 200px; }

.text--3 {
  width: 160px; }

.text--4 {
  width: 270px; }

.reviews__block {
  padding: 0 30px 40px 30px; }

.review__title {
  font-size: 25px; }

.review__text {
  color: #444444;
  width: 250px; }

.review__author {
  font-size: 17px; }

.review__e-mail {
  color: #444444;
  font-size: 17px; }

.review__options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 30px 0 40px 0; }

.option {
  border: 1px solid #ececec;
  color: transparent;
  font-size: 1px;
  height: 50px;
  width: 50%; }
  .option:hover, .option:focus {
    opacity: .6;
    outline-color: transparent; }
  .option:active {
    opacity: .3; }

.btn__previous {
  background: url(../img/arrow-left.jpg) no-repeat center center; }

.btn__next {
  background: url(../img/arrow-left.jpg) no-repeat center center;
  transform: rotate(180deg); }

.contacts__block {
  -ms-flex-align: center;
      align-items: center;
  background: url(../img/zigzag-line.jpg) no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 40px; }

.contacts__title {
  font-size: 18px;
  font-weight: bold; }

.contacts__e-mail {
  color: #444444;
  position: relative; }

.e-mail__anchor {
  color: #444444;
  text-decoration: none;
  padding-left: 30px; }
  .e-mail__anchor::before {
    background: #62d1ba;
    content: "";
    height: 1px;
    position: absolute;
    top: 27px;
    width: 170px; }
  .e-mail__anchor:hover, .e-mail__anchor:focus {
    color: #46c1ae;
    outline-color: transparent; }
  .e-mail__anchor:active {
    opacity: .3; }

.contacts__address {
  bottom: 90px;
  position: relative; }

.address__info {
  display: inline-block;
  padding-left: 30px;
  width: 135px; }

.contacts__wrapper {
  padding: 35px 30px 0 30px; }

.contact__map {
  padding-bottom: 35px; }

.footer__block {
  -ms-flex-align: center;
      align-items: center;
  background: #f1f1f1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 30px 20px 30px; }

.footer__social {
  border-bottom: 1px solid #e5e5e5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  padding: 0 0 10px 0;
  width: 100%; }

.social__media {
  background: #000;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 30px;
  margin: 20px;
  width: 25px; }
  .social__media:active {
    opacity: .3; }

.media--inst {
  background: url(../img/insta.png) no-repeat center center; }
  .media--inst:hover, .media--inst:focus {
    background: url(../img/insta.-hover.png) no-repeat center center;
    outline-color: transparent; }

.media--fb {
  background: url(../img/fb.png) no-repeat center center; }
  .media--fb:hover, .media--fb:focus {
    background: url(../img/fb-hover.png) no-repeat center center; }

.media--tw {
  background: url(../img/twitter.png) no-repeat center center; }
  .media--tw:hover, .media--tw:focus {
    background: url(../img/twitter-hover.png) no-repeat center center; }

.footer__creator {
  -ms-flex-align: start;
      align-items: flex-start;
  background: url(../img/htmlacademy.png) no-repeat 100% center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 35px;
  line-height: 18px;
  padding-top: 15px;
  text-decoration: none;
  width: 180px; }
  .footer__creator:hover, .footer__creator:focus {
    background: url(../img/html-hover.png) no-repeat 100% center; }
  .footer__creator:active {
    opacity: .3; }

.menu__block {
  background: #fff;
  display: none;
  left: 0;
  position: absolute;
  width: 320px;
  top: 80px; }

.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.list__item {
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid #ececec;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: start;
      justify-content: flex-start;
  height: 75px;
  line-height: 24px;
  padding-left: 75px;
  text-decoration: none; }
  .list__item:hover, .list__item:focus {
    opacity: .6;
    outline-color: transparent; }
  .list__item:active {
    opacity: .3; }

.item--search {
  background: url(../img/search.png) no-repeat 30px center; }
  .item--search:hover {
    background: url(../img/search-hover.png) no-repeat 30px center;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    outline-color: transparent; }
  .item--search:active {
    opacity: .3; }

.item--cart {
  background: url(../img/cart.png) no-repeat 30px center; }
  .item--cart:hover {
    background: url(../img/cart-hover.png) no-repeat 30px center;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    outline-color: transparent; }
  .item--cart:active {
    opacity: .3; }

.modal__cart {
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 265px;
  padding: 30px 30px 45px 30px;
  position: absolute;
  top: 1045px;
  width: 260px; }

.modal__overlay {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

.cart__title {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  width: 145px; }

.cart__size {
  color: #444444;
  position: relative;
  top: 10px; }

.cart__sizes {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px 0 15px 0; }

.btn__size {
  background: #fff;
  border: 2px solid #ececec;
  color: #444444;
  font-size: 17px;
  font-weight: bold;
  height: 48px;
  line-height: 16px;
  margin: 3px;
  width: 78px; }
  .btn__size:hover, .btn__size:focus {
    border-color: #c7c7c7;
    outline-color: transparent; }
  .btn__size:active {
    border-color: #62d1ba; }

.size--active {
  border-color: #62d1ba; }

.btn--cart {
  background: #63d1bb;
  border-color: #63d1bb;
  color: #fff; }
  .btn--cart:hover, .btn--cart:focus {
    background: #46c1ae;
    border-color: #46c1ae;
    outline-color: transparent; }
