@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold-webfont.woff) format(woff), url(../fonts/OpenSans-Bold-webfont.ttf) format(truetype), url(../fonts/OpenSans-Bold-webfont.woff2) format(woff2);
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular-webfont.woff) format(woff), url(../fonts/OpenSans-Regular-webfont.ttf) format(truetype), url(../fonts/OpenSans-Regular-webfont.woff2) format(woff2);
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px; }

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px; }

/*@media (min-width: 770px) {
  .container {
    width: 770px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1150px;
  }
}*/
.header__block {
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 20px 30px 20px 30px; }

.header--menu {
  padding: 20px 30px 300px 30px; }

.header__logo {
  background: url(../img/logo.png) no-repeat center center;
  display: block;
  color: transparent;
  font-size: 1px;
  height: 35px;
  right: 75px;
  position: relative;
  width: 85px; }
  .header__logo:hover, .header__logo:focus {
    opacity: .6;
    outline-color: transparent; }
  .header__logo:active {
    opacity: .3; }

.btn--burger {
  background: #fff url(../img/menu.png) no-repeat center center;
  border: none;
  color: transparent;
  font-size: 1px;
  height: 15px;
  width: 20px; }
  .btn--burger:hover, .btn--burger:focus {
    opacity: .6;
    outline-color: transparent; }
  .btn--burger:active {
    opacity: .3; }

.btn--close {
  background: #fff url(../img/menu-close.png) no-repeat center center;
  height: 22px;
  width: 22px; }

/*@media (min-width: 770px) {
  .header__block {
    justify-content: flex-start;
    padding: 20px 50px 20px 50px;
    position: relative;
    z-index: 2;
  }

  .header__logo {
    background: url(../img/logo-tablet.png) no-repeat center center;
    height: 50px;
    position: static;
    width: 120px;
  }

  .btn--burger {
    display: none;
  }
}

@media (min-width: 1150px) {
  .header__block {
    justify-content: center;
    padding: 10px 50px 5px 50px;
  }

  .header__logo {
    background: url(../img/logo-desktop.png) no-repeat center center;
    height: 75px;
    width: 150px;
  }
}*/
.info__block {
  background: url(../img/hero-mobile.jpg) no-repeat;
  padding-top: 70px; }

.info__title {
  font-size: 27px;
  font-weight: bold;
  text-align: center; }

.info__options {
  list-style: none;
  padding: 105px 0 0 0; }

.info__item {
  background: #63d1bb url(../img/interior.png) no-repeat 245px center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  padding: 25px 180px 25px 30px;
  text-decoration: none; }
  .info__item:hover, .info__item:focus {
    background-color: #59d5bc;
    padding: 25px 180px 30px 30px;
    outline-color: transparent; }
  .info__item:active {
    background: #59d5bc url(../img/interior.-active.png) no-repeat 245px center;
    color: rgba(255, 255, 255, 0.3); }

.item--2type {
  background: #56c3b2 url(../img/toy.png) no-repeat 230px center; }
  .item--2type:hover, .item--2type:focus {
    background-color: #46c1ae;
    outline-color: transparent; }
  .item--2type:active {
    background: #46c1ae url(../img/toy-active.png) no-repeat 230px center;
    color: rgba(255, 255, 255, 0.3); }

.header__wrapper {
  display: none; }

/*@media (min-width: 770px) {
  .info__block {
    align-items: center;
    background: url(../img/hero-desktop.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    padding: 155px 50px 5px 50px;
  }

  .info__title {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }

  .mob-pag {
    display: none;
  }

  .info__options {
    display: flex;
    padding: 310px 0 0 0;
  }

  .info__item {
    background: $btnColor1 url(../img/interior.png) no-repeat 265px center;
    padding: 30px 180px 30px 30px;
    &:hover,
    &:focus {
      background: $btnHoverC url(../img/interior.png) no-repeat 265px center;
      padding: 30px 180px 35px 30px;
    }
    &:active {
      background: $btnHoverC url(../img/interior.-active.png) no-repeat 265px center;
    }
  }

  .item--2type {
    background: $btnColor2 url(../img/toy.png) no-repeat 220px center;
    &:hover,
    &:focus {
      background: $btnHoverC2 url(../img/toy.png) no-repeat 220px center;
    }
    &:active {
      background: $btnHoverC2 url(../img/toy-active.png) no-repeat 220px center;
    }
   }
}

@media (min-width: 1150px) {
  .info__block {
    background: url(../img/hero-desk.jpg) no-repeat center center;
    padding: 110px 50px 5px 50px;
  }

  .info__title {
    font-size: 53px;
    line-height: 57px;
    width: 600px;
  }

  .info__options {
    padding: 320px 0 0 0;
    width: 1050px;
    z-index: 1;
  }

  .info__item {
    background: $btnColor1 url(../img/interior.png) no-repeat 450px center;
    padding: 30px 375px 30px 35px;
    width: 115px;
    &:hover,
    &:focus {
      background: $btnHoverC url(../img/interior.png) no-repeat 450px center;
      padding: 30px 375px 35px 35px;
    }
    &:active {
      background: $btnHoverC url(../img/interior.-active.png) no-repeat 450px center;
    }
  }

  .item--2type {
    background: $btnColor2 url(../img/toy.png) no-repeat 430px center;
    &:hover,
    &:focus {
      background: $btnHoverC2 url(../img/toy.png) no-repeat 430px center;
    }
    &:active {
      background: $btnHoverC2 url(../img/toy-active.png) no-repeat 430px center;
    }
   }

  .header__wrapper {
    background: #f9f9f9;
    border-top: 1px solid $borderColor;
    display: block;
    height: 745px;
    position: absolute;
    width: 100%;
    top: 90px;
   }

  .zigzag__box {
    background: url(../img/zigzag-desk.png) repeat-x center bottom;
    display: block;
    height: 35px;
    position: absolute;
    top: 815px;
    width: 100%;
    z-index: 20;
  }

}*/
.tovat__block {
  padding: 0 30px 35px 30px; }

.tovat__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 5px;
  margin-bottom: 0; }

.tovat__type {
  color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase; }

.tovat__text {
  color: #444444;
  line-height: 24px;
  padding-bottom: 10px; }

.tovat__info {
  color: #444444;
  padding-bottom: 30px;
  width: 100%; }

.tovat__info td {
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-top: 5px; }

.tovat__img {
  width: 260px; }

.tovat__price {
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 24px;
  padding: 25px 0 25px 0; }

.btn {
  -ms-flex-align: center;
      align-items: center;
  background: inherit;
  border: 2px solid #444444;
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 24px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  width: 256px; }
  .btn:hover, .btn:focus {
    background: #444444;
    color: #fff;
    outline-color: transparent; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3); }

/*@media (min-width: 770px) {
  .tovat__block {
    background: url(../img/zigzag-desktop.png) no-repeat center 0;
    margin-top: -30px;
    padding: 0 50px 35px 50px;
    position: relative;
    z-index: 1;
  }

  .tovat__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: -15px;
  }

  .tovat__type {
    display: flex;
    text-align: center;
    width: 70px;
  }

  .tovat-title__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 35px 0;
  }

  .tovat-text__wrapper {
    width: 290px;
  }

  .tovat__text {
    font-size: 17px;
    line-height: 30px;
  }

  .tovat__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tovat__img {
    padding-top: 25px;
    width: 335px;
  }

  .tovat__price {
    font-size: 20px;
    margin-top: -5px;
    padding: 25px 0 30px 0;
  }

  .wrapper--2 {
    margin-top: -135px;
  }

  .btn {
    width: 99%;
  }
}

@media (min-width: 1150px) {
  .tovat__block {
    background: none;
    margin-top: 0px;
    padding: 50px 50px 60px 50px;
    position: relative;
    z-index: 1;
  }

  .tovat__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 70px;
    order: 1;
  }

  .tovat-title__wrapper {
    justify-content: flex-start;
    padding: 110px 0 35px 0;
    position: relative;
    z-index: 10;
  }

  .tovat__img {
    margin-top: -170px;
    width: 525px;
  }

  .tovat-text__wrapper {
    padding-left: 185px;
    width: 290px;
  }

  .tovat__type {
    padding-left: 45px;
  }

  .tovat__info {
    position: relative;
    top: 30px;
  }
}*/
.about__block {
  background: url(../img/zigzag-line.jpg) no-repeat;
  padding: 20px 30px 20px 30px; }

.about__title {
  font-size: 25px; }

.about__features {
  list-style: none;
  margin-top: -15px;
  padding-left: 0; }

.about__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding-top: 25px; }

.item__text {
  padding-top: 20px;
  width: 230px; }

.text--1 {
  width: 190px; }

.text--2 {
  width: 200px; }

.text--4 {
  width: 270px; }

/*@media (min-width: 770px) {
  .about__block {
    align-items: center;
    background: url(../img/zigzag-about.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 40px 50px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__features {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    font-size: 20px;
    line-height: 22px;
    padding-top: 55px;
    width: 50%;
  }

  .item__text {
    width: 255px;
  }

  .item--3 {
    order: 5;
  }

  .item--2 {
    order: 3;
  }

  .item--5 {
    order: 4
  }

  .item--6 {
    order: 6;
  }

  .text--1 {
    width: 220px;
  }

  .text--3 {
    width: 270px;
  }

  .text--4 {
    width: 320px;
  }
}

@media (min-width: 1150px) {
  .about__block {
    background: url(../img/zigzag-desk.jpg) no-repeat center top;
    padding: 50px 50px 80px 50px;
  }

  .about__title {
    align-self: flex-start;
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }

  .about__features {
    width: 710px;
    justify-content: space-between;
  }
}*/
.reviews__block {
  padding: 0 30px 40px 30px; }

.review__title {
  font-size: 25px; }

.review__text {
  color: #444444;
  width: 250px; }

.review__author {
  font-size: 17px; }

.review__e-mail {
  color: #444444;
  font-size: 17px; }

.review__options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 30px 0 40px 0; }

.option {
  border: 1px solid #ececec;
  color: transparent;
  font-size: 1px;
  height: 50px;
  width: 50%; }
  .option:hover, .option:focus {
    opacity: .6;
    outline-color: transparent; }
  .option:active {
    opacity: .3; }

.btn__previous {
  background: url(../img/arrow-left.jpg) no-repeat center center; }

.btn__next {
  background: url(../img/arrow-left.jpg) no-repeat center center;
  transform: rotate(180deg); }

/*@media (min-width: 770px) {
  .reviews__block {
    background: url(../img/review.jpg) no-repeat 0 0;
    padding: 70px 50px 40px 50px;
    position: relative;
  }

  .review__title {
    bottom: 20px;
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }

  .review__text {
    font-size: 17px;
    width: 645px;
  }

  .review__options {
    margin-bottom: -5px;
    width: 140px;
  }

  .option {
    border: none;
  }

  .btn__previous {
    background: url(../img/arrow-left.jpg) no-repeat 0 center;
  }

  .btn__next {
    background: url(../img/arrow-left.jpg) no-repeat 0 center;
    transform: rotate(180deg);
  }

  .btn--about {
    background: $wh;
    position: absolute;
    right: 50px;
    top: 80px;
    width: 170px;
  }

  .review__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .review__author-info {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1150px) {
  .reviews__block {
    background: url(../img/review.jpg) no-repeat 50px 0;
    padding: 70px 100px 110px 225px;
  }

  .review__title {
    bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }

  .review__text {
    font-size: 17px;
    margin-top: -35px;
    width: 755px;
  }

  .review__wrapper {
    width: 875px;
  }
}*/
.contacts__block {
  -ms-flex-align: center;
      align-items: center;
  background: url(../img/zigzag-line.jpg) no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 40px; }

.contacts__title {
  font-size: 18px;
  font-weight: bold; }

.contacts__e-mail {
  color: #444444;
  position: relative; }

.e-mail__anchor {
  color: #444444;
  text-decoration: none;
  padding-left: 30px; }
  .e-mail__anchor::before {
    background: #62d1ba;
    content: "";
    height: 1px;
    position: absolute;
    top: 27px;
    width: 170px; }
  .e-mail__anchor:hover, .e-mail__anchor:focus {
    color: #46c1ae;
    outline-color: transparent; }
  .e-mail__anchor:active {
    opacity: .3; }

.contacts__address {
  bottom: 90px;
  position: relative; }

.address__info {
  display: inline-block;
  padding-left: 30px;
  width: 135px; }

.contacts__wrapper {
  padding: 35px 30px 0 30px; }

.contact__map {
  padding-bottom: 35px; }

/*@media (min-width: 770px) {
  .contacts__block {
    background: url(../img/flag.jpg) no-repeat 665px 60px,
    url(../img/zigzag-about.jpg) no-repeat;
    font-size: 17px;
    padding-bottom: 60px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 50px 0 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  .contacts__address {
    bottom: 60px;
  }

  .address__wrapper {
    padding-right: 35px;
  }

  .address__info {
    width: 220px;
  }

  .contact__map {
    padding: 15px 0 60px 0;
  }

  .btn--contacts {
    background: #fff;
    width: 226px;
  }
}

@media (min-width: 1150px) {
  .contacts__block {
    background: url(../img/flag.jpg) no-repeat 115px 130px,
    url(../img/zigzag-desk.jpg) no-repeat center top;
    flex-direction: row;
    padding: 70px 50px 60px 50px;
  }

  .contacts__wrapper {
    flex-direction: column;
    margin-top: -125px;
    padding: 0 50px 0 170px;
    width: 300px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .email__wrapper {
    display: flex;
    width: 280px;
  }

  .address__wrapper {
    display: flex;
    width: 300px;
  }

  .contacts__address {
    bottom: 0;
    top: 15px;
  }

  .address__info {
    left: 5px;
    position: relative;
  }

  .contact__map {
    width: 525px;
    height: 460px;
  }

  .btn--contacts {
    bottom: 260px;
    left: 220px;
    position: absolute;
  }
}*/
.footer__block {
  -ms-flex-align: center;
      align-items: center;
  background: #f1f1f1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 30px 20px 30px; }

.footer__logo {
  display: none; }

.footer__social {
  border-bottom: 1px solid #e5e5e5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
  padding: 0 0 10px 0;
  width: 100%; }

.social__media {
  background: #000;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 30px;
  margin: 20px;
  width: 25px; }
  .social__media:active {
    opacity: .3; }

.media--inst {
  background: url(../img/insta.png) no-repeat center center; }
  .media--inst:hover, .media--inst:focus {
    background: url(../img/insta.-hover.png) no-repeat center center;
    outline-color: transparent; }

.media--fb {
  background: url(../img/fb.png) no-repeat center center; }
  .media--fb:hover, .media--fb:focus {
    background: url(../img/fb-hover.png) no-repeat center center;
    outline-color: transparent; }

.media--tw {
  background: url(../img/twitter.png) no-repeat center center; }
  .media--tw:hover, .media--tw:focus {
    background: url(../img/twitter-hover.png) no-repeat center center;
    outline-color: transparent; }

.footer__creator {
  -ms-flex-align: start;
      align-items: flex-start;
  background: url(../img/htmlacademy.png) no-repeat 100% center;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 35px;
  line-height: 18px;
  padding-top: 15px;
  text-decoration: none;
  width: 180px; }
  .footer__creator:hover, .footer__creator:focus {
    background: url(../img/html-hover.png) no-repeat 100% center;
    outline-color: transparent; }
  .footer__creator:active {
    opacity: .3; }

/*@media (min-width: 770px) {
  .footer__block {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
  }

  .footer__logo {
    display: block;
    &:hover,
    &:focus {
      opacity: .6;
      outline-color: transparent;
    }
    &:active {
      opacity: .3;
    }
  }

  .footer__social {
    border: none;
    padding: 0;
    margin-right: -65px;
    width: 300px;
  }
}*/
.menu__block {
  background: #fff;
  display: none;
  left: 0;
  position: absolute;
  width: 320px;
  top: 80px; }

.menu__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.list__item {
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid #ececec;
  color: #000;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  -ms-flex-pack: start;
      justify-content: flex-start;
  height: 75px;
  line-height: 24px;
  padding-left: 75px;
  text-decoration: none; }
  .list__item:hover, .list__item:focus {
    opacity: .6;
    outline-color: transparent; }
  .list__item:active {
    opacity: .3; }

.item--search {
  background: url(../img/search.png) no-repeat 30px center; }
  .item--search:hover {
    background: url(../img/search-hover.png) no-repeat 30px center;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    outline-color: transparent; }
  .item--search:active {
    opacity: .3; }

.item--cart {
  background: url(../img/cart.png) no-repeat 30px center; }
  .item--cart:hover {
    background: url(../img/cart-hover.png) no-repeat 30px center;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    outline-color: transparent; }
  .item--cart:active {
    opacity: .3; }

.menu__info {
  display: none; }

.more__menu {
  display: none; }

/*@media (min-width: 770px) {
  .menu__block {
    background: transparent;
    display: block;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .menu__list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list__item {
    border-top: none;
    justify-content: center;
    font-size: 15px;
    height: 75px;
    padding-left: 50px;
    width: 130px;
  }

  .menu--1 {
    order: 3;
  }

  .menu--2 {
    order: 4;
  }

  .menu--3 {
    order: 1;
  }

  .menu--4 {
    order: 2;
  }

  .item--search {
    background: url(../img/search.png) no-repeat center center;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    color: transparent;
    display: block;
    font-size: 1px;
    padding: 0;
    height: 90px;
    margin-left: 380px;
    width: 80px;
    &:hover {
      color: transparent;
    }
  }

  .item--cart {
    font-size: 17px;
    padding-left: 70px;
    width: 205px;
  }

  .menu__info {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 24px;
  }
}

@media (min-width: 1150px) {
  .list__item {
    font-size: 17px;
    height: 30px;
    width: 170px;
  }

  .item--search {
    height: 90px;
    margin-left: 320px;
    width: 80px;
  }

  .item--cart {
    font-size: 17px;
    padding-left: 70px;
    width: 205px;
  }

  .menu--1 {
    order: 1;
  }

  .menu--2 {
    order: 2;
  }

  .menu--3 {
    order: 3;
  }

  .menu--4 {
    order: 4;
  }

  .more__menu {
    display: flex;
    list-style: none;
    padding-left: 35px;
  }

  .more__menu .list__item {
    font-size: 15px;
    margin-left: -23px;
    width: 160px;
  }

  .menu__info {
    right: 50px;
    bottom: 15px;
  }
}*/
.modal__cart {
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 265px;
  padding: 30px 30px 45px 30px;
  position: absolute;
  top: 1045px;
  width: 260px; }

.modal__overlay {
  background: rgba(255, 255, 255, 0.9);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }

.modal--show {
  display: block; }

.cart__title {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  width: 145px; }

.cart__size {
  color: #444444;
  position: relative;
  top: 10px; }

.cart__sizes {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px 0 15px 0; }

.btn__size {
  background: #fff;
  border: 2px solid #ececec;
  color: #444444;
  font-size: 17px;
  font-weight: bold;
  height: 48px;
  line-height: 16px;
  margin: 3px;
  width: 78px; }
  .btn__size:hover {
    border-color: #c7c7c7; }
  .btn__size:focus, .btn__size:active {
    border-color: #62d1ba;
    outline-color: transparent; }

.size--active {
  border-color: #62d1ba; }

.btn--cart {
  background: #63d1bb;
  border-color: #63d1bb;
  color: #fff; }
  .btn--cart:hover, .btn--cart:focus {
    background: #46c1ae;
    border-color: #46c1ae;
    outline-color: transparent; }

/*@media (min-width: 770px) {
  .modal__cart {
    height: 270px;
    left: 100px;
    padding: 0px 30px 45px 30px;
    top: 1520px;
    width: 500px;
  }

  .cart__title {
    font-size: 30px;
    line-height: 57px;
    width: 355px;
  }

  .btn__size {
    width: 108px;
  }

  .btn--cart {
    width: 340px;
  }
}

@media (min-width: 1150px) {
  .modal__cart {
    height: 300px;
    left: 290px;
    top: 1155px;
    width: 510px;
  }
}*/
