.catalog__title-block {
  align-items: center;
  background: $footerBack;
  display: flex;
  justify-content: center;
  min-height: 180px;
  padding: 0;
  width: 100%;
}

.catalog__title {
  font-size: 27px;
}

@media (min-width: 770px) {
  .catalog__title-block {
    background: $footerBack url(../img/zigzag-desktop.png) no-repeat center 206px;
    min-height: 225px;
  }

  .catalog__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .catalog__title-block {
    background: $footerBack url(../img/zigzag-desk.png) no-repeat center 222px;
    min-height: 255px;
  }

  .catalog__title {
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__box {
    background: $footerBack url(../img/zigzag-desk.png) repeat-x center 222px;
    border-top: 1px solid $borderColor;
    height: 255px;
    position: absolute;
    top: 90px;
    width: 100%;
  }
}
