.contacts__block {
  align-items: center;
  background: url(../img/zigzag-line.jpg) no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
}

.contacts__e-mail {
  color: $textColor;
  position: relative;
}

.e-mail__anchor {
  color: $textColor;
  text-decoration: none;
  padding-left: 30px;
  &::before {
    background: $anchorColor;
    content: "";
    height: 1px;
    position: absolute;
    top: 27px;
    width: 170px;
  }
  &:hover,
  &:focus {
    color: $btnHoverC2;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

.contacts__address {
  bottom: 90px;
  position: relative;
}

.address__info {
  display: inline-block;
  padding-left: 30px;
  width: 135px;
}

.contacts__wrapper {
  padding: 35px 30px 0 30px;
}

.contact__map {
  padding-bottom: 35px;
}

/*@media (min-width: 770px) {
  .contacts__block {
    background: url(../img/flag.jpg) no-repeat 665px 60px,
    url(../img/zigzag-about.jpg) no-repeat;
    font-size: 17px;
    padding-bottom: 60px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 50px 0 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  .contacts__address {
    bottom: 60px;
  }

  .address__wrapper {
    padding-right: 35px;
  }

  .address__info {
    width: 220px;
  }

  .contact__map {
    padding: 15px 0 60px 0;
  }

  .btn--contacts {
    background: #fff;
    width: 226px;
  }
}

@media (min-width: 1150px) {
  .contacts__block {
    background: url(../img/flag.jpg) no-repeat 115px 130px,
    url(../img/zigzag-desk.jpg) no-repeat center top;
    flex-direction: row;
    padding: 70px 50px 60px 50px;
  }

  .contacts__wrapper {
    flex-direction: column;
    margin-top: -125px;
    padding: 0 50px 0 170px;
    width: 300px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .email__wrapper {
    display: flex;
    width: 280px;
  }

  .address__wrapper {
    display: flex;
    width: 300px;
  }

  .contacts__address {
    bottom: 0;
    top: 15px;
  }

  .address__info {
    left: 5px;
    position: relative;
  }

  .contact__map {
    width: 525px;
    height: 460px;
  }

  .btn--contacts {
    bottom: 260px;
    left: 220px;
    position: absolute;
  }
}*/
