.footer__block {
  align-items: center;
  background: $footerBack;
  display: flex;
  flex-direction: column;
  padding: 0 30px 20px 30px;
}

.footer__logo {
  display: none;
}

.footer__social {
  border-bottom: 1px solid $borderColor2;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0 0 10px 0;
  width: 100%;
}

.social__media {
  background: $bl;
  color: transparent;
  display: block;
  font-size: 1px;
  height: 30px;
  margin: 20px;
  width: 25px;
  &:active {
    opacity: .3;
  }
}

.media--inst {
  background: url(../img/insta.png) no-repeat center center;
  &:hover,
  &:focus {
    background: url(../img/insta.-hover.png) no-repeat center center;
    outline-color: transparent;
  }
}

.media--fb {
  background: url(../img/fb.png) no-repeat center center;
  &:hover,
  &:focus {
    background: url(../img/fb-hover.png) no-repeat center center;
    outline-color: transparent;
  }
}

.media--tw {
  background: url(../img/twitter.png) no-repeat center center;
  &:hover,
  &:focus {
    background: url(../img/twitter-hover.png) no-repeat center center;
    outline-color: transparent;
  }
}

.footer__creator {
  align-items: flex-start;
  background: url(../img/htmlacademy.png) no-repeat 100% center;
  color: #000;
  display: flex;
  font-size: 19px;
  font-weight: bold;
  justify-content: space-between;
  height: 35px;
  line-height: 18px;
  padding-top: 15px;
  text-decoration: none;
  width: 180px;
  &:hover,
  &:focus {
    background: url(../img/html-hover.png) no-repeat 100% center;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

/*@media (min-width: 770px) {
  .footer__block {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
  }

  .footer__logo {
    display: block;
    &:hover,
    &:focus {
      opacity: .6;
      outline-color: transparent;
    }
    &:active {
      opacity: .3;
    }
  }

  .footer__social {
    border: none;
    padding: 0;
    margin-right: -65px;
    width: 300px;
  }
}*/
