.menu__block {
  background: $wh;
  display: none;
  left: 0;
  position: absolute;
  width: 320px;
  top: 80px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list__item {
  align-items: center;
  border-top: 1px solid $borderColor;
  color: $bl;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: flex-start;
  height: 75px;
  line-height: 24px;
  padding-left: 75px;
  text-decoration: none;
  &:hover,
  &:focus {
    opacity: .6;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

.item--search {
  background: url(../img/search.png) no-repeat 30px center;
  &:hover {
    background: url(../img/search-hover.png) no-repeat 30px center;
    color: $blAct;
    opacity: 1;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

.item--cart {
  background: url(../img/cart.png) no-repeat 30px center;
  &:hover {
    background: url(../img/cart-hover.png) no-repeat 30px center;
    color: $blAct;
    opacity: 1;
    outline-color: transparent;
  }
  &:active {
    opacity: .3;
  }
}

.menu__info {
  display: none;
}

.more__menu {
  display: none;
}

@media (min-width: 770px) {
  .menu__block {
    background: transparent;
    display: block;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .menu__list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list__item {
    border-top: none;
    justify-content: center;
    font-size: 15px;
    height: 75px;
    padding-left: 50px;
    width: 130px;
  }

  .menu--1 {
    order: 3;
  }

  .menu--2 {
    order: 4;
  }

  .menu--3 {
    order: 1;
  }

  .menu--4 {
    order: 2;
  }

  .item--search {
    background: url(../img/search.png) no-repeat center center;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    color: transparent;
    display: block;
    font-size: 1px;
    padding: 0;
    height: 90px;
    margin-left: 380px;
    width: 80px;
    &:hover {
      color: transparent;
    }
  }

  .item--cart {
    font-size: 17px;
    padding-left: 70px;
    width: 205px;
  }

  .menu__info {
    display: block;
    position: absolute;
    right: 50px;
    bottom: 24px;
  }
}

@media (min-width: 1150px) {
  .list__item {
    font-size: 17px;
    width: 170px;
  }

  .item--search {
    background: url(../img/search.png) no-repeat center center;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    color: transparent;
    display: block;
    font-size: 1px;
    padding: 0;
    height: 90px;
    margin-left: 350px;
    width: 80px;
    &:hover {
      color: transparent;
    }
  }

  .item--cart {
    font-size: 17px;
    padding-left: 70px;
    width: 205px;
  }

  .menu--1 {
    order: 1;
  }

  .menu--2 {
    order: 2;
  }

  .menu--3 {
    order: 3;
  }

  .menu--4 {
    order: 4;
  }

  .more__menu {
    display: flex;
    list-style: none;
    padding-left: 7px;
  }

  .more__menu .list__item {
    font-size: 15px;
  }
}
