.modal__cart {
  align-items: center;
  background: $wh;
  border-top: 1px solid $borderColor3;
  box-shadow: 0 5px 10px $blAct;
  display: flex;
  flex-direction: column;
  height: 265px;
  padding: 30px 30px 45px 30px;
  position: absolute;
  top: 1045px;
  width: 260px;
}

.modal__overlay {
  background: $overlayColor;
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal--show {
  display: block;
}

.cart__title {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  width: 145px;
}

.cart__size {
  color: $textColor;
  position: relative;
  top: 10px;
}

.cart__sizes {
  display: flex;
  list-style: none;
  padding: 10px 0 15px 0;
}

.btn__size {
  background: $wh;
  border: 2px solid $borderColor;
  color: $textColor;
  font-size: 17px;
  font-weight: bold;
  height: 48px;
  line-height: 16px;
  margin: 3px;
  width: 78px;
  &:hover {
    border-color: $borderColor3;
  }
  &:focus,
  &:active {
    border-color: $anchorColor;
    outline-color: transparent;
  }
}

.size--active {
  border-color: $anchorColor;
}

.btn--cart {
  background: $btnColor1;
  border-color: $btnColor1;
  color: $wh;
  &:hover,
  &:focus {
    background: $btnHoverC2;
    border-color: $btnHoverC2;
    outline-color: transparent;
  }
}

@media (min-width: 770px) {
  .modal__cart {
    height: 270px;
    left: 100px;
    padding: 0px 30px 45px 30px;
    top: 1520px;
    width: 500px;
  }

  .cart__title {
    font-size: 30px;
    line-height: 57px;
    width: 355px;
  }

  .btn__size {
    width: 108px;
  }

  .btn--cart {
    width: 340px;
  }
}

@media (min-width: 1150px) {
  .modal__cart {
    height: 300px;
    left: 290px;
    top: 1155px;
    width: 510px;
  }
}
