.tovat__block {
  padding: 0 30px 35px 30px;
}

.tovat__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  padding-top: 5px;
  margin-bottom: 0;
}

.tovat__type {
  color: $btnColor1;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.tovat__text {
  color: $textColor;
  line-height: 24px;
  padding-bottom: 10px;
}

.tovat__info {
  color: $textColor;
  padding-bottom: 30px;
  width: 100%;
}

.tovat__info td {
  border-bottom: 1px solid $borderColor;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-top: 5px;
}

.tovat__img {
  width: 260px;
}

.tovat__price {
  color: $textColor;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  padding: 25px 0 25px 0;
}

.btn {
  align-items: center;
  background: inherit;
  border: 2px solid $textColor;
  color: $textColor;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  height: 48px;
  text-decoration: none;
  text-transform: uppercase;
  width: 256px;
  &:hover,
  &:focus {
    background: $textColor;
    color: $wh;
    outline-color: transparent;
  }
  &:active {
    color: $whAct;
  }
}

@media (min-width: 770px) {
  .tovat__block {
    background: url(../img/zigzag-desktop.png) no-repeat center 0;
    margin-top: -30px;
    padding: 0 50px 35px 50px;
    position: relative;
    z-index: 1;
  }

  .tovat__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: -15px;
  }

  .tovat__type {
    display: flex;
    text-align: center;
    width: 70px;
  }

  .tovat-title__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 35px 0;
  }

  .tovat-text__wrapper {
    width: 290px;
  }

  .tovat__text {
    font-size: 17px;
    line-height: 30px;
  }

  .tovat__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tovat__img {
    padding-top: 25px;
    width: 335px;
  }

  .tovat__price {
    font-size: 20px;
    margin-top: -5px;
    padding: 25px 0 30px 0;
  }

  .wrapper--2 {
    margin-top: -135px;
  }

  .btn {
    width: 99%;
  }
}

@media (min-width: 1150px) {
  .tovat__block {
    background: none;
    margin-top: 0px;
    padding: 50px 50px 60px 50px;
    position: relative;
    z-index: 1;
  }

  .tovat__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 55px;
    order: 1;
  }

  .tovat-title__wrapper {
    justify-content: flex-start;
    padding: 110px 0 35px 0;
    position: relative;
    z-index: 10;
  }

  .tovat__img {
    margin-top: -170px;
    width: 525px;
  }

  .tovat-text__wrapper {
    padding-left: 175px;
    width: 290px;
  }

  .tovat__type {
    padding-left: 45px;
  }

  .tovat__info {
    position: relative;
    top: 30px;
  }
}
