@font-face {
 font-family: 'OpenSans';
 src: url(../fonts/OpenSans-Bold-webfont.woff) format(woff),
 url(../fonts/OpenSans-Bold-webfont.ttf) format(truetype),
 url(../fonts/OpenSans-Bold-webfont.woff2) format(woff2);
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'OpenSans';
 src: url(../fonts/OpenSans-Regular-webfont.woff) format(woff),
 url(../fonts/OpenSans-Regular-webfont.ttf) format(truetype),
 url(../fonts/OpenSans-Regular-webfont.woff2) format(woff2);
 font-weight: normal;
 font-style: normal;
}

$textColor : #444444;
$borderColor : #ececec;
$wh : #fff;
$btnColor1 : #63d1bb;
$btnHoverC : #59d5bc;
$btnColor2 : #56c3b2;
$btnHoverC2 : #46c1ae;
$whAct : rgba(255, 255, 255, .3);
$anchorColor : #62d1ba;
$borderColor2 : #e5e5e5;
$bl : #000;
$footerBack : #f1f1f1;

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 320px;
}

@import 'header__block';
@import 'info__block';
@import 'tovat__block';
@import 'about__block';
@import 'reviews__block';
@import 'contacts__block';
@import 'footer__block';
@import 'menu__block';
